uwash/modul1/home_data.gl
uwash/modul1/amazon_baby.gl
uwash/modul1/people_wiki.gl
uwash/modul1/song_data.gl
uwash/modul1/image_test_data
uwash/modul1/image_train_data
dasi/m1/w2_intro_to_data_lab.html

