uwash/m1-intro/home_data.gl
uwash/m1-intro/amazon_baby.gl
uwash/m1-intro/people_wiki.gl
uwash/m1-intro/song_data.gl
uwash/m1-intro/image_test_data
uwash/m1-intro/image_train_data
uwash/m2-regression/kc_house_data.gl
dasi/m1/w2_intro_to_data_lab.html

