<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
      <add name="STUDENT" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=##YOUR SERVER NAME HERE##)(PORT=1521))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic))(SERVER=dedicated)(SERVICE_NAME=##YOUR ORACLE SERVICE HERE##)));User Id=##YOUR ORACLE USER HERE##;Password=##YOUR ORACLE PASSWORD HERE##;"/>
      <add name="STUDENT_NOPOOL" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=##YOUR SERVER NAME HERE##)(PORT=1521))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic))(SERVER=dedicated)(SERVICE_NAME=##YOUR ORACLE SERVICE HERE##)));User Id=##YOUR ORACLE USER HERE##;Password=##YOUR ORACLE PASSWORD HERE##;Pooling=false"/>
  </connectionStrings>

</configuration>