<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess" />
  </configSections>

    <connectionStrings>
      <add name="DBA" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic))(SERVER=dedicated)(SERVICE_NAME=ora12c)));User Id=sys;Password=;DBA Privilege=SYSDBA;"/>
      <add name="PERFSTAT" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic))(SERVER=dedicated)(SERVICE_NAME=ora12c)));User Id=perfstat;Password=;"/>
      <add name="STUDENT" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic))(SERVER=dedicated)(SERVICE_NAME=ora12c)));User Id=student;Password=;Statement Cache Size=0"/>
    
    </connectionStrings>


<oracle.manageddataaccess.client>
  <version number="*">
    <settings>
         <setting name="TraceFileLocation" value="ClientTrace.trc"/>
         <setting name="TraceLevel" value="2"/>
         <setting name="TraceOption" value="0"/>    
    </settings>

  </version>
</oracle.manageddataaccess.client>

  


</configuration>