<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StudentDb" connectionString="metadata=res://*/StudentDb.csdl|res://*/StudentDb.ssdl|res://*/StudentDb.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;data source=ora12c;password=;user id=STUDENT&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>