<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
      <add name="STUDENT" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=##YOUR ORACLE SERVER NAME##)(PORT=1521))(CONNECT_DATA=(FAILOVER_MODE=(TYPE=select)(METHOD=basic))(SERVER=dedicated)(SERVICE_NAME=##YOUR ORACLE SERVICE NAME##)));User Id=##YOUR ORACLE USERNAME##;Password=##YOUR ORACLE PASSWORD##;Min Pool Size=2;Max Pool Size=4"/>    
  </connectionStrings>  

</configuration>